body{
     background-color: #5ea3d5;
     color:000000;
     font-family: 'Courier New', Courier, monospace;
     font-size:1em;
     font-weight:normal;
     line-height:1.5em;
     margin:center;
     padding-top:300px;
     padding-bottom: 250px;
     padding-left: 300px;
     padding-right: 300px;
    }
    .img-git {
       width: 100px;
    }
      .container{
        width: 80%;
        margin:auto;
        margin-top:30px;
        display: flex;
        justify-content: center;
    }
    #contentinfo p {
      line-height: 20px;
      margin: 30px;
      padding-bottom: 20px;
      text-align: justify;
      width: 140px;
      color: red;
   }
 h1{
        color:black;
        font-size: 1.5em;    
        font-weight: 500;
        print-color-adjust: initial;
      }
  h2{
    color:black;
    font-size: 1.5em;    
    font-weight: 500;
    print-color-adjust: initial;
    margin-left: 300px;
  }
.definitions{
    border: 1px dimgray dotted;
    border-radius: 15px;   
}
.command {
    line-height: 1.4em;
    padding-top: 8px;
    font-weight: 500;
}
.details li::marker{
    color: black;
    font-size: 1em;  
    font-weight: 100;
    line-height: 1.4em;
    padding-top: 0px; 
}
