body {
  background-image: url(Img/Page.jpg);
  background-repeat: repeat-y;
  }

  h1, h3, h5{
    font-family:'Courier New', Courier, monospace;
    margin:0;   
    }
  h1{
    font-size: 400%;
   }
  h3{
    font-size: 200%;
   }
  h5{
    font-size: 100%;
   }

  .container{
    width:100%;
    margin:auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
} 
 .GitSection{
    border-color: #1041d7;
    border-width: 100%;
    border-style: single;
    padding:200%;
    background-image: url();
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 600%;
    margin-right: 200%;
    margin-top: 600%;
  }

  .margins{
      margin-left: 800%;
      margin: right 200%;;
      margin-top: 100%;
  }

  li {
  font-family: 'Courier New', Courier, monospace
  }
 
  nav a{
  text-decoration:none;
  color:rgb(9, 3, 3);
  }

  nav a:visited{
  text-decoration: none;
  color: black;
  }

  nav a:active{
  text-decoration: none;
  color: black;
  }

  nav a:link{
  text-decoration: none;
  color: black;
  }

  nav a:hover{
  font-weight: bold;
  }

  nav ul{
  list-style-type: circle;
  }

p {
font-family: 'Courier New', Courier, monospace;
color:darkgrey;
text-align: end;
}

nav li{display: inline;
  margin: 100%;
  padding: 100%;
  border-radius: 100%;
  border-color: black;
  border-style:solid;
      }
.git{
  object-position: top;
  left: 50;
  margin-top: 0;
  }
  .GitHub{
  object-position: right-top;
  margin-right: 50;
  top: 0;
  }
